.vscode/easycode.ignore
BackEnd/__pycache__/FastApi.cpython-312.pyc
DataBase/__pycache__/Func.cpython-312.pyc
DataBase/DATA/ACHIVMENT/1.json
DataBase/DATA/ACHIVMENT/2.json
DataBase/DATA/ACHIVMENT/3.json
DataBase/DATA/MARKS/1.json
DataBase/DATA/MARKS/2.json
DataBase/DATA/MARKS/3.json
DataBase/settings/__pycache__/config.cpython-312.pyc
DataBase/settings/__pycache__/configuration_DB.cpython-312.pyc
DataBase/settings/__pycache__/database.cpython-312.pyc
DataBase/settings/__pycache__/models.cpython-312.pyc
TGbot/__pycache__/config.cpython-312.pyc
