.vscode/easycode.ignore
BackEnd/__pycache__/FastApi.cpython-312.pyc
DataBase/__pycache__/Func.cpython-312.pyc
DataBase/settings/__pycache__/config.cpython-312.pyc
DataBase/settings/__pycache__/configuration_DB.cpython-312.pyc
DataBase/settings/__pycache__/models.cpython-312.pyc
DataBase/settings/.env
TGbot/__pycache__/config.cpython-312.pyc
TGbot/.env
BackEnd/__pycache__/main_back.cpython-312.pyc
Bot/__pycache__/config.cpython-312.pyc
Bot/.env
web/Back/__pycache__/main_back.cpython-312.pyc
.vscode/settings.json
Bot/__pycache__/keyboards.cpython-312.pyc
Bot/__pycache__/states.cpython-312.pyc
Bot/handlers/__pycache__/__init__.cpython-312.pyc
Bot/handlers/__pycache__/common.cpython-312.pyc
Bot/handlers/__pycache__/student.cpython-312.pyc
Bot/handlers/__pycache__/teacher.cpython-312.pyc
Bot/settings/__pycache__/config.cpython-312.pyc
Bot/settings/.env
DataBase/__pycache__/__init__.cpython-312.pyc
DataBase/Services/__pycache__/__init__.cpython-312.pyc
DataBase/Services/__pycache__/auth_service.cpython-312.pyc
DataBase/Services/__pycache__/db_services.cpython-312.pyc
DataBase/Services/__pycache__/get_service.cpython-312.pyc
DataBase/Services/__pycache__/mark_service.cpython-312.pyc
DataBase/Services/__pycache__/student_service.cpython-312.pyc
DataBase/Services/__pycache__/teacher_service.cpython-312.pyc
DataBase/Settings/__pycache__/__init__.cpython-312.pyc
web/Back/__pycache__/main_back.cpython-312.pyc
